/* Global Rules */
:root {
    --red-color: #e60024;
}
/* Global Rules */
body {
    min-height: 10000px;
    font-family: 'Droid Sans', sans-serif;
}

/* Start Navbar */
.navbar {
    .active {
        background-color: var(--red-color);
    }
    .navbar-toggler[aria-expanded="true"] {
        border-color: var(--red-color) !important;
    }
    .nav-item {
        cursor: pointer;
        &.active,
        &:hover {
            color: white !important;
        }
        .show {
            color: white;
            background-color: black;
        }
        .divider {
            padding: 1px;
            background-color: #871818;
        }
        .dropdown-item {
            width: 200px;
            transition: .3s;
            &:focus,
            &:hover {
                background-color: var(--red-color);
                padding-left: 25px;
            }
        }
    }
}

/* End Navbar */

/* Start Carousel */
.carousel {
    .carousel-caption {
        top: 40%;
        transform: translateY(-50%);
        background-color: rgba(3,3,3,0.3);
    }
    & .carousel-indicators {
        button.active {
            background-color: var(--red-color);
        }
    }
}
/* End Carousel */

/* Start Testimonials */
.carousel.testimonials {
    .carousel-indicators {
        bottom: -70px;
        & [data-bs-target] {
            height: fit-content;
            text-indent: 0;
            border: 0;
        }
    }
    .img-box {
        width: 74px;
        &.active {
            border-radius: 50%;
            border: solid 3px var(--red-color);
            opacity: 1;
        }
    }
}
/* End Testimonials */