/* Global Rules */
:root {
    --red-color: #e60024;
}
/* Global Rules */
body {
    min-height: 10000px;
    font-family: 'Droid Sans', sans-serif;
}

/* Start Navbar */
.navbar {
    .active {
        background-color: var(--red-color);
    }
    .navbar-toggler[aria-expanded="true"] {
        border-color: var(--red-color) !important;
    }
    .nav-item {
        cursor: pointer;
        &.active,
        &:hover {
            color: white !important;
        }
        .show {
            color: white;
            background-color: black;
        }
        .divider {
            padding: 1px;
            background-color: #871818;
        }
        .dropdown-item {
            width: 200px;
            transition: .3s;
            &:focus,
            &:hover {
                background-color: var(--red-color);
                padding-left: 25px;
            }
        }
    }
}

/* End Navbar */

/* Start Carousel */
.carousel {
    .carousel-caption {
        top: 47%;
        transform: translateY(-50%);
        background-color: rgba(3,3,3,0.3);
        height: fit-content;
    }
    & .carousel-indicators {
        button.active {
            background-color: var(--red-color);
        }
    }
}
/* End Carousel */

/* Start Testimonials */
.carousel.testimonials {
    .carousel-indicators {
        & [data-bs-target] {
            height: fit-content;
            text-indent: 0;
            border: 0;
        }
    }
    .img-box {
        width: 74px;
        &.active {
            border-radius: 50%;
            border: solid 3px var(--red-color);
            opacity: 1;
        }
    }
}
/* End Testimonials */

/* Start Price Table */
.price-box {
    p {
        height: 100px;
        width: 100px;
        transition: 1s;
    }
    &:hover p{
        border: solid 2px #DFDFDF;
        transform: scale(1.1, 1.1) rotate(360deg);
    }
}
/* End Price Table */

/* Start Team */
.bg-fixed {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    & > div {
        background-color: rgba(2,2,2,0.8);
    }
}
.team-section {
    background-image: url('../imgs/team.jpg');


    min-height: 600px;
    .team {
        min-height: 600px;
        svg {
            cursor: pointer;
        }
        .member {
            cursor: pointer;
        }
    }
}
/* End Team */

/* Start Subscribe */
.subscribe {
    form {
        .form-control:focus {
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        }
        & .email {
            width: 300px !important;
        }
    }
}
/* End Subscribe */

/* Start Statistics */
.stat-section {
    background-image: url('../imgs/stats.jpg');
    p {
        font-size: 60px;
    }
    .stat {
        transition: .7s ease-in-out;
    }
    .stat:hover {
        opacity: 1 !important;
    }
}
/* End Statistics */

/* Start Skills */
.skills {
    .skill {
        height: 36px;
        width: 100%;
        background-color: #f5f5f5;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    }
}
/* End Skills */